extends ./main.jade
block content
  .row
    .col.s3
      ul.collection.with-header
        li.collection-item
          a(href='#{url.create("/member")}') หน้าแรก
        li.collection-header
          h5 แจ้งการลา
        li.collection-item
          a(href='#{url.create("/leave/sick")}') ลาป่วย
        li.collection-item
          a(href='#{url.create("/leave/personal")}') ลากิจ
        li.collection-item
          a(href='#{url.create("/leave/vacation")}') ลาพักผ่อน
        li.collection-item
          a(href='#{url.create("/leave/givebirth")}') ลาคลอดบุตร
        li.collection-item
          a(href='#{url.create("/leave/wife")}') ลาไปช่วยภรรยาคลอดบุตร
        li.collection-item
          a(href='#{url.create("/leave/history")}') ประวัติการลา
        if session.get("isManager")
          li.collection-item
            a(href='#{url.create("/leave/list")}') รายงานแจ้งการลางาน
    .col.s9
      block rcontent
