extends ../layouts/member.jade

block rcontent
  p.flow-text
    | แบบฟอร์มลาพักผ่อน
    small  :: ลาล่วงหน้าอย่างน้อย 3 วันทำการ
  form(action='#{url.create("/leave/vacation")}', method='post')
    input(type='hidden', name='leave_type', value='vacation')
    .row
      .input-field.col.s4 ชื่อ-นามสกุล*
      .input-field.col.s8
        input#th_name.validate(name='th_name', placeholder='ชื่อ-นามสกุล', type='text', th:value='${session.user.toString()}', disabled='')
        label(for='th_name') ชื่อ-นามสกุล
    .row
      .input-field.col.s4 ตำแหน่ง*
      .input-field.col.s8
        input#section.validate(name='section', placeholder='ตำแหน่ง', type='text', th:value='${session.user.section.thName}', disabled='')
        label(for='section') ตำแหน่ง
    hr
    .row
      .col.s4 วันที่ลา*
      .col.s8
        .row
          .input-field.col.s12
            input#start_at.validate(name='start_at', placeholder='ตั้งแต่', type='text', required='')
            label(for='start_at') ตั้งแต่
        .row
          .input-field.col.s12
            input#end_at.validate(name='end_at', placeholder='ถึง', type='text', required='')
            label(for='end_at') ถึง
    hr
    .row
      .col.s4 จำนวนวันที่เหลือที่สามารถลาได้
      .input-field.col.s8 XX วัน
    hr
    .row
      .col.s4 จำนวนวันที่ลา
      .input-field.col.s8 XX วัน
    hr
    .row
      .col.s4 ช่องทางการติดต่อ*
      .input-field.col.s8
        input#contact.validate(name='contact', placeholder='ช่องทางการติดต่อ', type='text', th:value='เบอร์โทรศัพท์ + ${session.user.getMobile()}', required='required')
        label(for='contact') ช่องทางการติดต่อ
    hr
    .row
      .col.s4 ผู้ปฏิบัติงานแทน
      .input-field.col.s8
        select(name='work_represent')
          option(value='') เลือกผู้ปฏิบัติงานแทน
          option(th:each='user : ${users}', th:value='${user.username}', th:text='${user.toString()}')
        label รายชื่อ
    button.btn.waves-effect.waves-light
      | ส่งแบบฟอร์ม
      i.material-icons.right send