extends ../layouts/member.jade
block append script
  script.
    $(document).ready(function () {
        $total = $("#total");
        $('.datepicker').pickadate({
            monthsFull: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
            monthsShort: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            weekdaysFull: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
            weekdaysShort: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
            format: 'dd-mm-yyyy',
            min: 3,
            disable: [
                1, 7
            ],
            onClose: function() {
                var startP = $("#startAt").val().split("-");
                var startDate = new Date(startP[2], startP[1] - 1, startP[0]);

                var endP = $("#endAt").val().split("-");
                var endDate = new Date(endP[2], endP[1] - 1, endP[0]);
                console.log(startDate + ":" + endDate);
                if (startDate !== "Invalid Date" && endDate !== "Invalid Date") {
                    var total = calcBusinessDays(startDate, endDate);
                    console.log(total);
                    if (total !== NaN && total !== -1) {
                        $total.text(total + " ");
                    }
                }
            }
        });
    });
block rcontent
  p.flow-text แบบฟอร์มลาช่วยภรรยาคลอดบัตร
  form(action='#{url.create("/leave/wife")}', method='post')
    input(type='hidden', name='leave_type', value='wife')
    .row
      .input-field.col.s4 ชื่อ-นามสกุล*
      .input-field.col.s8
        input#th_name.validate(name='th_name', placeholder='ชื่อ-นามสกุล', type='text', th:value='${session.user.toString()}', disabled='')
        label(for='th_name') ชื่อ-นามสกุล
    .row
      .input-field.col.s4 ตำแหน่ง*
      .input-field.col.s8
        input#section.validate(name='section', placeholder='ตำแหน่ง', type='text', th:value='${session.user.section.thName}', disabled='')
        label(for='section') ตำแหน่ง
    hr
    .row
      .input-field.col.s4 ชื่อภรรยา*
      .input-field.col.s8
        input#wife_name.validate(name='wife_name', placeholder='ชื่อภรรยา', type='text', required='')
        label(for='wife_name') ชื่อภรรยา
    hr
    .row
      .input-field.col.s4 วันที่คลอดบัตร*
      .input-field.col.s8
        input#giveBirthDate.datepicker(name='giveBirthDate', placeholder='วันที่คลอดบัตร', type='text', required='')
        label(for='giveBirthDate') วันที่คลอดบัตร
    hr
    .row
      .col.s4 วันที่ลา*
      .col.s8
        .row
          .input-field.col.s12
            input#startAt.datepicker(name='leaveStartAt', placeholder='ตั้งแต่', type='text', required='')
            label(for='startAt') ตั้งแต่
        .row
          .input-field.col.s12
            input#endAt.datepicker(name='leaveEndAt', placeholder='ถึง', type='text', required='')
            label(for='endAt') ถึง
    hr
    .row
      .col.s4 จำนวนวันที่เหลือที่สามารถลาได้
      .input-field.col.s8 #{remain} วัน
    hr
    .row
      .col.s4 จำนวนวันที่ลา
      .input-field.col.s8
        span#total 0 
        | วัน
    hr
    .row
      .col.s4 ช่องทางการติดต่อ*
      .input-field.col.s8
        input#contact.validate(name='contact', placeholder='ช่องทางการติดต่อ', type='text', th:value='${session.user.getMobile()}', required='required')
        label(for='contact') ช่องทางการติดต่อ
    hr
    button.btn.waves-effect.waves-light
      | ส่งแบบฟอร์ม
      i.material-icons.right send